includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    level: 8

    checkGenericClassInNonGenericObjectType: false
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
